.apartments
  grid-column: 1/2
  &__top
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1)
    padding-bottom: 15px
  &__row
    display: grid
    grid-template-columns: 80px 280px 120px 120px 120px
    gap: 20px
  &__col
  &__top-title
    font-weight: 400
    font-size: 14px
    line-height: 20px
  &__box
    margin-bottom: 55px
  &__item
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1)
    padding: 25px 0 35px 0
  &__item-img
  &__item-text
    font-family: 'PT-Root-UI_Medium', sans-serif
    font-weight: 400
    font-size: 16px
    line-height: 24px
  &__btn-load-more
    max-width: 156px
    height: 40px
    font-weight: 400
    font-size: 16px
    line-height: 24px
    background: none
    border: 1px solid rgba(11, 23, 57, 0.2)
    border-radius: 25px
    cursor: pointer
    padding: 8px 22px
