.apartments
  grid-column: 1/2
  &__top
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1)
    padding-bottom: 15px
  &__row
    display: grid
    grid-template-columns: 80px 280px 120px 120px 120px
    gap: 20px
  &__col

  &__top-title
    font-weight: 400
    font-size: 14px
    line-height: 20px
  &__box

  &__item
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1)
    padding: 25px 0 35px 0
  &__item-img

  &__item-text
    font-family: 'PT-Root-UI_Medium', sans-serif
    font-weight: 400
    font-size: 16px
    line-height: 24px
